h3 {
    text-decoration: underline;
}

.content-box.light {
    background: white;
}

.content-box.dark {
    background: #fbfbfb;
}

.content-block-padded-cell {
    padding-top: 50px;
}

.content-block-flower-image{
    width:150px;
}

a:hover {
    color: cadetblue;
}

.content-block-wedding-day-details-table {
    margin-left: auto;
    margin-right: auto;
    width: 700px;
}

.content-block-bridal-party-animals-note {
    font-style: italic;
}

.content-block-bridal-party-mspca-link {
    font-weight: bold;
}

.content-block-registries-table {
    min-width: 100%;
    text-align: center;
    vertical-align: middle;
    margin-left: auto;
    margin-right: auto;
}

.content-block-image-rounded {
    border-radius: 5%;
    overflow: hidden;
}

.content-block-text-center {
    text-align: center;
}

.content-block-title-cats-of-honor {
    padding-top: 120px;
}

div[class*='content-block-image'] {
    padding-top: 67px;
}

.content-block-bridal-party-table-text {
    text-align: left;
    vertical-align: top;
    display: inline-block;
}

.content-block-registries-amazon {
    display: table-cell;
    vertical-align: middle;
    text-align: center
}

@media (min-width: 950px) {
    td {
        width: 50%;
        vertical-align: top;
        padding-left: 30px;
        padding-right: 30px;
    }

    .content-block-title {
        font-family: 'Great Vibes', cursive;
        font-size: 60px;
        text-align: center;
    }

    .content-box {
        min-height: 350px;
        padding-top: 150px;
        padding-bottom: 150px;
        font-size:18px;
        line-height: 1.6;
    }

    .content-block-image-right {
        float: right;
        padding-left: 20px;
    }

    .content-block-image-left {
        float: left;
        padding-right: 20px;
    }

    .content-block-text-left {
        text-align: left;
    }

    .content-block-text-right {
        text-align: right;
    }

    .content-block-image-big-day {
        width: 470px;
        height: auto;
    }

    .content-block-image-our-story {
        width: 530px;
        height: auto;

    }

    .content-block-image-bridal-party {
        width: auto;
        height: 300px;
        border-radius: 50%;
        overflow: hidden;
    }

    .content-block-image-registries {
        width: 500px;
        height: auto;
    }

    .content-block-wrapper {
        min-height: 100px;
        padding: 20px;
        max-width: 1000px;
        width: 75%;
        margin-left: auto;
        margin-right: auto;
        overflow: auto;
        -webkit-text-size-adjust: auto;
    }

    .content-block-image-photo-gallery {
        height: 500px;
    }

    .content-block-bridal-party-mobile-tables {
        display: none;
    }

    .content-block-text-photo-gallery-caption {
        min-height: 80px;
        font-size: x-large;
    }

    .content-block-text-photo-gallery-year {
        padding-top: 10px;
        min-height: 70px;
        font-size: 70px;
        font-weight: bold;
    }

    .content-block-text-registry-link {
        padding-top: 10px;
        padding-bottom: 10px;
        font-size: x-large;
        font-weight: bold;
    }
}

@media (max-width: 949px) {
    td {
        width: 50%;
        vertical-align: top;
    }

    h3{
        font-size:large;
    }

    .content-box {
        min-height: 350px;
        padding-top: 20px;
        padding-bottom: 20px;
        font-size:17px;
        line-height: 1.8;
    }

    .content-block-title {
        font-family: 'Great Vibes', cursive;
        font-size: 40px;
        text-align: center;
    }

    .content-block-image-right {
        float: top;
        text-align: center;
    }

    .content-block-image-left {
        float: top;
        text-align: center;
    }

    .content-block-text-left {
        text-align: left;
    }

    .content-block-text-right {
        text-align: left;
    }

    .content-block-image-big-day {
        width: 200px;
        height: auto;

        border-radius: 8%;
        overflow: hidden;
    }

    .content-block-image-our-story {
        width: 200px;
        height: auto;
    }

    .content-block-image-bridal-party {
        width: auto;
        height: 200px;
        border-radius: 50%;
        overflow: hidden;
    }

    .content-block-image-registries {
        width: 200px;
        height: auto;
    }

    .content-block-wrapper {
        min-height: 100px;
        padding: 20px;
        max-width: 800px;
        margin-left: auto;
        margin-right: auto;
        overflow: auto;
    }

    .content-block-image-photo-gallery {
        height: 200px;
    }

    .content-block-bridal-party-desktop-tables {
        display: none;
    }

    .content-block-text-photo-gallery-caption {
        min-height: 75px;
        font-size: medium;
    }

    .content-block-text-photo-gallery-year {
        padding-top: 10px;
        min-height: 40px;
        font-size: 40px;
        font-weight: bold;
    }

    .content-block-text-registry-link {
        padding-top: 10px;
        padding-bottom: 10px;
        font-size: large;
        font-weight: bold;
    }

}
