@import url('https://fonts.googleapis.com/css?family=Great+Vibes');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

.navigation-wrapper {
    background-color: cadetblue;
    height: 150px;
    padding: 20px;
    color: white;
    border: whitesmoke;
    border-width: 1px;
}

.navigation-title{
     font-family: 'Great Vibes', cursive;
     font-size: 80px;
 }

a {
    color:white;
    text-decoration: none; /* no underline */
}

.navigation-hashtag{
    font-family: 'Open Sans', sans-serif;
    font-size: 30px;
    font-style: normal;

}

